html {
  margin:2em;
}

#formu {
  margin-left: 3em;
}

#cards-container {
  margin-top:3em;
}

.card {
  margin-bottom: 0px !important;
  border: 0px !important;
  float:left;
  text-align: center;
}

.card-wrapper {
  transform: scale(0.8);
  border-radius: 5.3%/3.7%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center;  
  align-items: center;
  box-shadow: 3px 3px 21px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 21px -6px rgba(0, 0, 0, 0.75);
}

.card-section {
  transform: scale(0.7);
  margin-top: -4em;
}

.marble-img {
  
}

.or {
  margin-bottom: -2em;
}

#buttons {

}

#sorting_buttonz {
  padding-top: 2em;
}

#limit {
  width: 5em;
}

.btn_container {
  float:left;
}

.gold_container,
.origin_container,
.genesis_container,
.ascending_container {
  width: 5em;
  padding-left: 3em;
  padding-right: 5em;
}

.text_container {
  margin-right: 3em;
}

#address_container,
#address_container span {
  display: inline-block;
}

.select2-selection{
  height: 2em;
  width: 10em;
}

#address {
  width: 40em;
}

#cards-container {

}

.card ul {
  list-style: none;
}

.desired_level {
  width: 30% !important;
  float: left;
}

.row label {
  float: left;
  padding-right: 1em;
}

.actual_level {
  display: none;
}

.switch {
  margin-top: -1em;
}