<form name="formu" method="get" id="formu" action="index.php">
		<div id="address_container">
			<span>
				Eth address:
				<input type="text" name="address" id="address" size="30" value="{{address}}"/>
			</span>
			<span>
				Collection:
				<select id="select2_domains" name="domain"></select>
				<span id="reset_select" class="radius secondary label">Reset collection</span>
			</span>
		</div>
		<div id="buttons">
			<div class="btn_container text_container">
				Text:
				<input type="text" name="text" id="text" size="30" value="{{text}}"/>
			</div>
			<div class="btn_container">
				Limit
				<input type="number" value="15" id="limit" name="limit"/>
			</div>
			<div class="btn_container gold_container">
				<p>Gold</p>
				<div class="switch">
					<input class="switch-input" id="gold" type="checkbox" name="gold">
					<label class="switch-paddle" for="gold">
						<span class="show-for-sr">Gold</span>
						<span class="switch-active" aria-hidden="true">Yes</span>
						<span class="switch-inactive" aria-hidden="true">No</span>
					</label>
				</div>
			</div>
			<div class="btn_container origin_container">
				<p>Origin</p>
				<div class="switch">
					<input class="switch-input" id="origin" type="checkbox" name="origin">
					<label class="switch-paddle" for="origin">
						<span class="show-for-sr">Origin</span>
						<span class="switch-active" aria-hidden="true">Yes</span>
						<span class="switch-inactive" aria-hidden="true">No</span>
					</label>
				</div>
			</div>
			<div class="btn_container genesis_container">
				<p>Genesis</p>
				<div class="switch">
					<input class="switch-input" id="genesis" type="checkbox" name="genesis">
					<label class="switch-paddle" for="genesis">
						<span class="show-for-sr">Genesis</span>
						<span class="switch-active" aria-hidden="true">Yes</span>
						<span class="switch-inactive" aria-hidden="true">No</span>
					</label>
				</div>
			</div>
			<div class="btn_container ascending_container">
				<p>Ascending</p>
				<div class="switch">
					<input class="switch-input" id="ascending" type="checkbox" name="ascending">
					<label class="switch-paddle" for="ascending">
						<span class="show-for-sr">Ascending</span>
						<span class="switch-active" aria-hidden="true">Yes</span>
						<span class="switch-inactive" aria-hidden="true">No</span>
					</label>
				</div>
			</div>
			<input type="submit" value="Go!" class="button"/>
			<button type="button" id="mosaic" class="button success">Mosaic</button>
		</div>
		<div id="sorting_buttonz">
			<button type="button" id="sort_coll_id_asc" class="button tiny secondary">Sort coll id ASC</button>
			<button type="button" id="sort_coll_id_desc" class="button tiny secondary">Sort coll id DESC</button>
			<button type="button" id="sort_level_asc" class="button tiny secondary">Level ASC</button>
			<button type="button" id="sort_level_desc" class="button tiny secondary">Level DESC</button>
		</div>
	</form>